.ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.task {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px;
  border: 2px solid forestgreen;
  padding: 10px;
  background-color: #A8D0B5;
}
.titleTask {
  /*border: 2px solid black;*/
  display: flex;
  padding: 5px;
  border-radius: 5px;
  background-color: #FACBC1;
  margin: 5px;
}

.descripTask {
  padding: 20px;
  text-align: justify;
  font-size: 12px;
}

.tasks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: row wrap;
  border: none;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 1px solid black;
  padding: 20px;
  width: 400px;
  background-color: cadetblue;

}

.botonAdd {
  background-color: #2972F1;
  color: white;
  border-radius: 5px;
  border: none;
  width: 100px;
  align-self: flex-end;

}
.botonAdd:hover {
  background-color: #86ABEC;
  color: darkblue;
}

.botonDelete {
  width: 30px;
  background-color: #FA5B5B;
  border: none;
  border-radius: 5px;
  align-self: flex-end;
  color: white;
}
.botonDelete:hover {
  background-color: red;
  box-shadow: 0 4px 16px white;
  transition: all 0.2s ease;
}

.inputCheck {
  margin-right: 5px;
  align-self: center;

}
